// size
$mobile: 375px;
$desktop: 1440px;

// colors
$primary-dark-cyan: hsl(185, 75%, 39%);
$primary-very-dark-desaturated-blue: hsl(229, 23%, 23%);
$primary-dark-grayish-blue: hsl(227, 10%, 46%);
$neutral-dark-gray: hsl(0, 0%, 59%);

// typography
$font-size: 10px;

// font
$font-stack: 'Kumbh Sans', sans-serif;
